header(class="w-full fixed z-[101] top-0 left-0 shadow-sm bg-white/70 dark:bg-neutral-900/70 dark:shadow-neutral-800 backdrop-blur-[2px]")
  div(class="mx-auto flex h-16 max-w-screen-lg items-center gap-8 px-4 sm:px-6 lg:px-0")
    a(class="block text-black dark:text-white" href="/")
      span(class="sr-only") Home
      include ../icons/logo.pug
    div(class="flex flex-1 items-center justify-end")
      div(class="flex items-center gap-4")
        div(class="flex gap-2")
          div(class="flex gap-0.5")
            a(class="cursor-pointer font-semibold block rounded-l-md bg-black px-5 py-2.5 text-sm text-white duration-100 transition hover:bg-neutral-800 dark:text-black dark:bg-white dark:hover:bg-neutral-200" href="/cart") Ir al carrito
            button(id="cartBtn" type="button" class="opacity-25 cursor-not-allowed rounded-r-md bg-black p-2 text-sm font-medium text-white transition duration-100 hover:bg-neutral-800 dark:text-black dark:bg-white dark:hover:bg-neutral-200")
              include ../icons/chevronUp.pug
          button(id="colorModeBtn" type="button" class="block rounded-full bg-gray-100 p-2 text-sm font-medium text-neutral-600 transition hover:text-neutral-600/75 dark:text-neutral-50 dark:bg-black dark:hover:text-neutral-300/75")
            include ../icons/sunMoon.pug