extends layouts/baseLayout.pug

include ui/cartCard/cartService.pug

block content
  section
    div(class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8")
      div(class="mx-auto max-w-3xl")
        header
          h1(class="text-xl font-bold text-neutral-900 dark:text-neutral-100 sm:text-3xl") Tu carrito

        div(class="mt-8")
          ul(class="space-y-4")
            each product in cart
              +cartCardService(product)

          div(class="mt-8 flex justify-end border-t border-neutral-100 pt-8 dark:border-neutral-800")
            div(class="w-screen max-w-lg space-y-4")
              dl(class="space-y-0.5 text-sm text-neutral-700 dark:text-neutral-400")
                div(class="flex justify-between!")
                  dt Subtotal: &nbsp;
                  dd(id="subtotal") Calculando...

                div(class="flex justify-between!")
                  dt Impuestos: &nbsp;
                  dd(id="taxes") Calculando... 

                div(class="flex justify-between!")
                  dt Descuentos: &nbsp;
                  dd(id="discounts") Calculando...

                div(class="flex justify-between! text-base font-medium")
                  dt Total: &nbsp;
                  dd(id="total") Calculando...

              div(class="space-y-4 text-right")
                p(class="text-sm text-neutral-500 dark:text-neutral-400")
                  strong(id="discountsQuantity") Calculando...

                button(class="block w-full rounded font-bold bg-black p-2.5 text-sm text-white transition hover:bg-neutral-600 dark:bg-white dark:text-neutral-900 dark:hover:bg-neutral-200") Pagar

  script(src="/js/cardDelete.js" defer type="module")
  script(src="/js/cartSummary.js" defer type="module")
